/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Header */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("D:\l1.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Hero content */
.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
}

/* Services section */
.services {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #fff;
}

.service {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-position: 100%;
}

.service img {
  max-width: 80px;
  margin-bottom: 10px;
}

/* Button */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e65100;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}
